@import "tailwindcss";

/* kumbh-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 400;
    src:
        url("./assets/fonts/kumbh-sans-v27-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/kumbh-sans-v27-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* kumbh-sans-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 700;
    src:
        url("./assets/fonts/kumbh-sans-v27-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./assets/fonts/kumbh-sans-v27-latin-700.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@theme {
    --color-*: initial;

    --color-orange-500: hsl(26, 100%, 55%);
    --color-orange-100: hsl(25, 100%, 94%);

    --color-gray-900: hsl(220, 13%, 13%);
    --color-gray-300: hsl(219, 9%, 45%);
    --color-gray-200: hsl(220, 14%, 75%);
    --color-gray-100: hsl(223, 64%, 98%);

    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);

    --font-*: initial;
    --font-weight-*: initial;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

@layer base {
    body {
        font-family:
            "Kumbh Sans",
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;

        @apply min-h-screen leading-none;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer utilities {
    .focus-v:focus-visible,
    .focus-w:focus-visible {
        @apply outline-[3px] outline-offset-[3px] outline-orange-500 outline-dashed;
    }
}
